*.ipynb_checkpoints/
*.tmp
*.pyc
*.swp
*.swo
*.vscode
*.log
*.zip
*.tar
*.csv

# Deep learning related
*.pth
*.pkl
*.h5
*.caffemodel

# ROS related
catkin_ws/src/CMakeLists.txt
.catkin_workspace
build/
devel/
*.bag
*.pcd
